html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
min-height: 100%;
}

.footer{
width: 100%;
padding: 15px 0;
text-align: center;
}

.form-box {
height: 94px;
}

.hidden {
display: none;
}